html
  body
    div
      h2
          | Sign up
      div
        form(action='/register' method='POST')
          label(for='email')
            | Email
          input#email(type='email' name="email" required='required')
          label(for='password')
            | Password
          input#password(type='password' name="password" required='required')
          button(type='submit')
            | Sign up
        p
          a(href='/login')
            | Login
